<header>
   <div id="pesquisa">
        <form action="" method="submit" class="pesquisa">
            <input type="search"  placeholder="Pesquise Aqui">
            <button type="submit"><img src="../assets/lupa.png" alt="lupa"/></button>
        </form>
        <div id="pg2"><img id="globo" src="../assets/globo2.png" alt="globo2"/>
            
            <a class="texto2" href="x" onmousemove="document.getElementById('chanfro1').style.display='block'">Painel de Gestão</a>
            
            <img id="chanfro1" style="display:none" src="../assets/chanfro.png" alt="chanfro"/>
        
        </div>

        <div id="contadigital">
        <img id="arroba" src="../assets/arroba.png" alt="arroba"/>

            <img id="chanfro2" style="display:none" src="../assets/chanfro.png" alt="chanfro"/>
            
            <a class="texto2" href="x" onmouseover="document.getElementById('chanfro2').style.display='block'">Conta Digital</a>
            <a class="texto2" href="x" onmouseout="document.getElementById('chanfro2').style.display='block'"></a>
                 
        </div>

        <div id="recebiveis">
            <img id="estat" src="../assets/estatistica.png" alt="estatistica"/>
            <img id="seta" src="../assets/seta_ao_lado.png" alt="seta_ao_lado"/>

            <img id="chanfro3" style="display:none" src="../assets/chanfro.png" alt="chanfro"/>

            <a class="texto2" href="x" onmousemove="document.getElementById('chanfro3').style.display='block'">Ant. de Recebíveis</a>

        </div>
   </div> 
</header>