<header>
   <div id="pesquisa">
        <form action="" method="submit" class="pesquisa">
            <input type="search"  placeholder="Pesquise Aqui">
            <button type="submit"><img src="../assets/lupa.png" alt="lupa"/></button>
        </form>
        <div id="pg2"><img id="globo" src="../assets/globo2.png" alt="globo2"/>
            
            <a class="texto2">Painel de Gestão</a>
            
            <img id="chanfro1" src="../assets/chanfro.png" alt="chanfro"/>
        
        </div>

        <div id="contadigital">
        <img id="arroba" src="../assets/arroba.png" alt="arroba"/>

            Conta Digital   
                          
        </div>

        <div id="recebiveis">
            <img id="estat" src="../assets/estatistica.png" alt="estatistica"/>
            <img id="seta" src="../assets/seta_ao_lado.png" alt="seta_ao_lado"/>
            Ant. de Recebíveis
        </div>
   </div> 
</header>