<div id="conteudo">
    <div id="parte1">
        <div id="tituloatalhos">Atalhos</div>
       
        <div id="op">
            
            Operacional

            <div id="envio">Envio</div>
            <div id="assinatura">Assinatura</div>
            <div id="duplic">Envio de Duplicatas</div>
            <div id="assinat">Assinatura Digital</div>
            <div id="operacao">Nova Operação</div>

        </div>
        
        <div id="geral">
            
            Geral

            <div id="cart">Carteira</div>
            <div id="instru">Instruções</div>
        
        </div>
    </div>


    <div id="parte2">

        <div id="alertas">Alertas <span>Últimos 5 dias</span></div>
        <div id="part1">23 Notas Canceladas</div>
        
        <div id="part2">13 
            
            Notas Canceladas

            <input type="text" name="Ações" placeholder="Ações"/>

        </div>

        <div id="part3">
            
            7 Assinaturas Digitais

            <input type="text" name="Ações" placeholder="Ações"/>

        </div>

    </div>
</div>

