<app-menu></app-menu>
<!--The content below is only a placeholder and can be replaced.-->
<div class="estrutura">
  <header>
    
    <div id="logo" >
      <figure>
          <img src="/src/img/logo-srm.png">
          <figcaption>Essa é a logo da empresa SRM</figcaption>
      </figure>
    </div>

    <div id="texto">Grupo Econômico:</div>
    <div id="visao">Visão Agregada 1  >></div>
    <div id="user">
      
      Sandra Oliveira  >>

    <div id="sino"></div>
    </div>
  </header>

  <div id="corpo">

    <div id="painelhorizontal">
      <div id="menuhoriz">Painel Inicial > Painel de Gestão</div>
      <div id="pg">Painel de Gestão</div>
      <div id="prd">Produto:</div>
      <div id="tds">Todos >></div>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
