<app-menu></app-menu>
<app-item></app-item>

<!--The content below is only a placeholder and can be replaced.-->

<body>
<div class="estrutura">

  <header>
    
    <div>
       <img src="../app/imagem/" alt="logotipo"/>
    </div>

    <div id="texto">Grupo Econômico:</div>
    <div id="visao">Visão Agregada 1  >></div>
    <div id="user">
  
      Sandra Oliveira  >>

    <div id="sino"></div>
    </div>

  </header>

  <div id="corpo">

    <div id="painelhorizontal">
      <div id="menuhoriz">Painel Inicial > Painel de Gestão</div>
      <div id="pg">Painel de Gestão</div>
      <div id="prd">Produto:</div>
      <div id="tds">Todos >></div>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
</body>