.estrutura{
    width:100%;
    max-width:1100px;
    height:500px;
    background-color:#DCDCDC; 
    margin:auto;
    border:6px solid #C0C0C0;
}

header{
    width:100%;
    max-width:850px;
    height:61px;
    margin-left:auto;
    background-color:#ffffff;
}

#logo{
    width:200px;
    height:59px;
    position:fixed;
    top:16px;
    left:400px;
}

#texto{
    width:150px;
    height:40px;
    background-color:#ffffff;
    line-height:40px;
    text-align:center;
    font-size:14px;
    color:#808080;
    position:fixed;
    top:28px;
    left:650px;
}

#visao{
    width:150px;
    height:40px;
    background-color:#ffffff;
    border:1px solid #87CEFA;
    font-size:12px;
    color:#808080;
    padding-left:15px;
    position:fixed;
    top:27px;
    left:790px;
}

#seta1{
    width:25px;
    margin-left:10px;
}

#user{
    width:240px;
    height:40px;
    background-color:#191970;
    text-align:center;
    font-size:14px;
    line-height:40px;
    color: #ffffff;
    position:fixed;
    top:28px;
    right:160px;
}

#sino{
    width:50px;
    height:40px;
    background-color:#6495ED;
    float:right; 
}

#corpo{
    width:100%;
    max-width:850px;
    height:420px;
    margin-left:auto;
    background-color:#ebebeb;
}

#painelhorizontal{
    width:100%;
    max-width:850px;
    height:100px;
    background-color:#ebebeb;
}
#menuhoriz{
    color:#808080;
    font-size:14px;
    padding-top:10px;
    padding-left:40px;
}
#pg{
    color:#191970;
    font-size:20px;
    padding-top:25px;
    padding-left:90px;
}
#prd{
    font-size:14px;
    position:fixed;
    top:123px;
    right:330px;
    float:right;
    color:#808080;
}
#tds{
    width:95px;
    height:5px;
    background-color:#ebebeb;
    border:1px solid #87CEFA; 
    font-size:14px;
    position:fixed;
    top:110px;
    padding-bottom:35px;
    padding-left:50px;
    right:160px;
    color:#808080;
    line-height:40px;
}

#glob1{
    position:fixed;
    top:110px;
    left:410px;
}

#seta3{
    width:30px;
    position:fixed;
    right:180px;
    top:115px;

}
