<app-menu></app-menu>
<app-item></app-item>

<!--The content below is only a placeholder and can be replaced.-->

<body>
<div class="estrutura">

  <header>
    
    <div>
       <img id="logo" src="../assets/logotipo.png" alt="logotipo"/>
    </div>

    <div id="texto">Grupo Econômico:</div>
    <div id="visao">Visão Agregada 1<img id="seta1" src="../assets/seta_para_baixo1.png" alt="seta_para_baixo1"/></div>
    <div>
      <img id="user" src="../assets/user.png" alt="logotipo"/>
    </div>

  </header>

  <div id="corpo">

    <div id="painelhorizontal">
      <div id="menuhoriz">Painel Inicial > Painel de Gestão</div>
      <div id="pg"><img id="glob1" src="../assets/globo1.png" alt="globo1"/>Painel de Gestão</div>
      <div id="prd">Produto:</div>
      <div id="tds">Todos <img id="seta3" src="../assets/seta3.png" alt="seta3"/></div>
    </div>

  </div>

</div>


<router-outlet></router-outlet>
</body>